/*Stile del corpo della pagina*/
body {
    margin: 0;
    padding: 0;
    background: url(bg.png);
    background-size: cover;
    overflow: hidden;
}

/*Stile del contenitore*/
.container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Stile del div del contenitore*/
.container div {
    flex-grow: 1;
    text-align: center;
}

/*Stile della palla*/
.ball {
    animation: animate 5s linear infinite;
}

/*Animazione della palla*/
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(25px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*Stile delle icone*/
.icon {
    animation: logo-animation 10s linear infinite;
}

/*Stile dell'icona in trasferta*/
.icon.inter {
    animation-delay: -5s;
}

/*Animazione dei loghi*/
@keyframes logo-animation {
    0% {
        transform: perspective(500px) rotateY(0deg);
    }
    25% {
        transform: perspective(500px) rotateY(25deg);
    }
    50% {
        transform: perspective(500px) rotateY(0deg);;
    }
    75% {
        transform: perspective(500px) rotateY(-25deg);
    }
    100% {
        transform: perspective(500px) rotateY(0deg);
    }
}

/*Stile dell'H2*/
h2 {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    margin-top: 40px;
    padding: 20px 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 80px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2) ;
}

/*Stile dell'H3*/
h3 {
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2) ;
}

/*Stile dello span dell'H3*/
h3 span {
    background: #fff;
    color: #262626;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    padding: 5px;
}

/*Stile delle immagini*/
img {
    height: 250px;
    width: 250px;
}